<header data-pagefind-ignore>
  <nav>
    <a href="/" class="link-home">{{ .Site.Title }}</a>
    {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" title="{{ .Title }}">{{ .Title }}</a>
    {{ end }}
  </nav>
  <div id="search"></div>
</header>
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({ element: "#search" });
  });
</script>
